<div class="show show--list" data-request-complete="false">
  <div class="show__cover-photo" style="background-image:url({{cover_image_src}})">
    <a class="show__play" href="{{link}}"><i class="fa fa-play-circle"></i></a>
  </div>
  <div class="show__info">
    <h4 class="show__title">{{title}}</h4>
    <h3 class="show__sxe"><small>Season {{season}} Episode {{episode}}</small></h3 class="show__sxe">
    
    <a href="{{link}}">
      <span class="label label-large label-danger label-icon"><i class="glyphicon glyphicon-magnet"></i></span>
    </a>
    <span class="get--show_desc" data-show-name="{{title}}" data-episode-date="{{pub_date}}" style="display:none;">
      <span class="label label-large label-info label-icon"><i class="glyphicon glyphicon-info-sign"></i></span>
    </span>
    <span class="label label-large label-primary">{{release_day_of_week}}</span>
    <span class="label label-large label-default">{{release_date}}</span>

  </div>
  <div class="show__desc">
    <div class="show__desc-inner" style="display:none;"></div>
  </div>
</div>